@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.shadow-box {
  box-shadow: 0 0 30px -4px rgba(17,12,46,0.15);
}

@layer components {
  .full-h-page {
    /* min-height: theme("screens.sm"); */
    height: calc(100vh - (2 * theme("spacing.6")) - theme("spacing.12"));
  }
  .info {
    background-color: theme("colors.teal.50");
    color: theme("colors.teal.500");
    border-color: theme("colors.teal.500");
  }
  .info-dark {
    background-color: theme("colors.teal.800");
    color: theme("colors.teal.200");
    border-color: theme("colors.teal.200");
  }
  .warning {
    background-color: theme("colors.yellow.50");
    color: theme("colors.yellow.600");
    border-color: theme("colors.yellow.500");
  }
  .warning-dark {
    background-color: theme("colors.yellow.700");
    color: theme("colors.yellow.200");
    border-color: theme("colors.yellow.200");
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
